*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
p{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--background-color) ;
    padding: 0;
    margin: 0;
    height: 93vh;
        overscroll-behavior:none ;
            overflow: hidden;
}
.background-ui{
    width:280px ; 
    height: 280px;

    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    & img:nth-child(2) {
      display: none;
    }
}
.sun{
      width:300px ; 
}
.time-cuntry{

    color: white;
    text-align: center;
}
.time{
font-size: 96px;
  color:var(--font-color);
}
.country{
    font-size: 30px;
      color:var(--font-color);
}
.city{
    margin-top: 5px;
      color:var(--font-color);
}
main{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 20px;
}
.weather-contianer{
    display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-template-rows: 90px 70px 40px;
  gap: 8px;
  width: 340px;
}
.box {
  background: #ffffff54;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;  
  font-weight: 400;
}
.temp{
  font-size: 55px;
  grid-row: span 2;
  border-radius: 38px 0 0 0;
  color:var(--font-color);
}
.mood{
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
      color:var(--font-color);
}
.bottom{ 
  grid-column:  span 2;
  display: grid;
  width: 100%;
  grid-template-columns: 40% 57.5%;
  gap: 8px;
  & div{
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    font-size: 20px;
  }
}
.wide{
    font-size: 60px;
      border-radius:0 38px 0 0 ;
          display: flex;
    justify-content: space-evenly;
  color:var(--font-color);
      & img{
        width: 80px;
      }
}
.uv{
      border-radius:0 0 0 30px ;
        color:var(--font-color);
}
.real-feel{
          border-radius:0  0 30px 0 ;
            color:var(--font-color);
}
.loading{
  position: absolute;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.none{
  opacity: 0;
}

.moon{
  background-color:transparent;
  box-shadow: none;
  & img {
    display: block;
    width: 300px;
    opacity: 0.8;
  }
}



/* From Uiverse.io by andrew-manzyk */ 
.loader {
  --cloud-color: #f3f3f3;
  --arrows-color: ;
  --time-animation: 1s;
  transform: scale(1); /* You can change the size */
}

.loader #cloud {
  width: 100px;
  height: 100px;
}

.loader #cloud rect {
  fill: var(--cloud-color);
}

.loader #cloud g:nth-child(3) {
  transform-origin: 50% 72.8938%;
  fill:transparent;

  animation: rotation var(--time-animation) linear infinite;
}

.loader #shapes g g circle {
  animation: cloud calc(var(--time-animation) * 2) linear infinite;
}

.loader #shapes g g circle:nth-child(2) {
  animation-delay: calc((var(--time-animation) * 2) / -3);
}

.loader #shapes g g circle:nth-child(3) {
  animation-delay: calc((var(--time-animation) * 2) / -1.5);
}

.loader svg #lines g line {
  stroke-width: 5;
  transform-origin: 50% 50%;
  rotate: -65deg;
  animation: lines calc(var(--time-animation) / 1.33) linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lines {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes cloud {
  0% {
    cx: 20;
    cy: 60;
    r: 15;
  }
  50% {
    cx: 50;
    cy: 45;
    r: 20;
  }
  100% {
    cx: 80;
    cy: 60;
    r: 15;
  }
}
